* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Poppins, Verdana, sans-serif;

}

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('opentype');
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter/static/Inter-Regular.ttf') format('opentype');
}

@font-face {
    font-family: Inter-Light;
    src: url('../fonts/Inter/static/Inter-Light.ttf') format('opentype');
}
body{
    background-color: #cdfed8;
}
#conteiner{
    max-width: 700px;
    min-width: 400px;
    margin: auto;
}
#cadastro {
    background-color: #0E962D;
    width: 85%;
    margin: 5% auto;
    border-radius: 0 1.5rem 0 1.5rem;
    padding: 6%;
}

#totalCompra {
    color: white;
    font-family: Inter-Light;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1.2rem;
}

#euros {
    font-size: 3rem;
}

.campo {
    border-radius: .2rem;
    border: none;
    padding: .6rem;
    margin: .5vh;
    font-size: 1rem;
}

#txtProduto {
    width: 100%;
}

#txtPreco {
    width: 25%;
}
.marginNegativa {
    margin: 0px -0.4rem;
}
.btnQtdMaisMenos{
    border: none;
    color: white;
    background-color: #44040A;
    
}
#quantidade {
    width: 16%;
}

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
    color: green;
  }
  /* Firefox 19+ */
  ::-moz-placeholder {
    color: green;
  }
  /* IE 10+ */
  :-ms-input-placeholder {
    color: green;
  }
  /* Firefox 18- */
  :-moz-placeholder {
    color: green;
  }

#subtotal {
    display: inline-block;
    color: white;
    font-weight: 100;
    font-size: 1.3rem;

}

#btnAdicionar {
    width: 100%;
    font-size: 1rem;
    background-color: #44040A;
    color: white;
    cursor: pointer;
}
#btnApagarTudo {
    width: 80%;
    margin-left: 10%;
    font-size: 1rem;
    background-color: #059926;
    color: white;
    cursor: pointer;
    padding: .6rem;
    text-transform: uppercase;
}

#listaProdutos {
    padding: 2rem;
    padding-left: 3rem;
    color: #44040A;
    list-style-type: decimal;
    
}

.produto {
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}
a{
    color: #44040A;
    text-decoration: none;

}
.descricaoProduto {
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

.detalhe {
    display: inline-block;
    margin: 0 .8rem;
    /* display: none; */
}
.btnDeletar{
    float: right;
    padding-top: 10px;
    cursor: pointer;
}
.subTitulo {
    font-size: .9rem;
    font-weight: 500;
}